PROVIDER_URL=https://kovan.infura.io/v3/<secret-key>
GOVERNOR_ADDRESS=0xBf057BE2b3a47F9C576197851c0Eb840174F5329

### A JSON array of ethereum addresses to watch.
### If none of the addresses in the SUBMITTER_ADDRESSES array submit a list
### after the alarm threshold passed, the bot will notify emails in the
### WATCHER object. Example: ["0x0000000000000000000000000000000000000000","0x0000000000000000000000000000000000000001"]
### - Addresses should be in checksummed format.
### - There should be no spaces between items (e.g before or after commas).
SUBMITTER_ADDRESSES=

### This is the account that will send transactions to the blockchain.
### The bot will also monitor the amount of funds it has and notify WATCHERS
### if it is running low.
WALLET_KEY=

### If the account derived from WALLET_KEY has less than BALANCE_THRESHOLD_ETH
### ETH the bot will send out notifications to WATCHERS requesting funds.
### If not set, the default of 0.05 ETH will be used.
BALANCE_THRESHOLD_ETH=

### If the wallet is running low on funds, how often to warn WATCHERS.
### If not set the default is 72 (Will send an email every 3 days)
### until it receives enough funds.
BALANCE_ALARM_PERIOD_HOURS=

### How often to query the blockchain for new information.
### If not set, 5 minutes will be used.
POLL_INTERVAL_MILLISECONDS=

### SENDGRID
SENDGRID_API_KEY=
WARNING_TEMPLATE_ID=d-b456dca61a7846099c19d1f5619c87ad
REMINDER_TEMPLATE_ID=d-b4599ac85c934b5d9ac9cdc4b7d212b6
FROM_ADDRESS=noreply@kleros.io
FROM_NAME=Kleros

GOVERNOR_URL=https://governor.kleros.io
BOT_URL=

### JSON string object mapping emails to nicknames. These will receive email
### warnings from the bot.
### Example: WATCHERS={"johndoe@domain.co": "John"}
WATCHERS=

### If there is less than LIST_SUBMISSION_THRESHOLD_SECONDS remaining
### until the end of the submission period, the alarm is not disarmed,
### and none of the SUBMITTER_ADDRESSES sent a list, the bot will submit
### an empty list.
### If no value is set, 3600 (1 hour) will be used.
LIST_SUBMISSION_THRESHOLD_SECONDS=

### Optional. If unset, will run on port 3000
PORT=